h1{
     background-image: url(../assets/sobre-background.jpg);
     padding: 10px;   
}

h2{
    border-bottom: 2px solid #333;
    margin-top: 30px;
}

p{
    padding: 0 45px;
    text-indent: 15px;

}

body{
    /*border-style:solid;
    border-width:5px;
    border-color:red;*/
    /*border:5px solid red;  dashed --> Linha tracejada; dotted --> Linha pontilhada */
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    color:#333;
    margin-left:auto;
    margin-right:auto;
    width:940px;
}

figure{
    background-color: #F2EDED;
    border: 1px solid #CCC;
    text-align: center;
    padding:15px;
    margin:30px;
}

figcaption{
    font-style:italic;
    margin-top: 10px;
}

#centro-distribuicao{
    margin-left:auto;
    margin-right: auto;
    width:550px;
}

#centro-distribuicao img{
    width:500px;
    height:280px;
}

#rodape{
    color:#777;
    margin:30px 0;
    padding:30px 0;
}

#rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width:94px;
}

#familia-takeshi{
    float:right;
    margin:0 0 10px 10px;
}

#familia-takeshi img{
    width:330px;
    height:180px;
}





